* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
}

.container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    background-color: #6eb1f5;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}

.content {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.main {
    background-color: #3cb371;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 3;
    border-radius: 0.5rem;
}

.item {
    background-color: #2f8d59;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    border-radius: 0.5rem;
}

.sidebar {
    background-color: #ff6347;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    border-radius: 0.5rem;
}

.footer {
    background-color: #7895ec;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}