.all{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;

}
.A{
    background-color: yellow;
    grid-column: 1/4;
}
.b{
    background-color: blue;
   grid-row: 2/4;
}
.c{
    background-color: red;
    grid-row: 2;
}
.d{
    background-color: green;
    grid-row: 2;
    grid-column:2;
}
.e{
    background-color: orange;
    grid-row:3;
    grid-column:2/4;
   
}
.f{
    background-color: purple;
    grid-row:4;
    grid-column:1/4;
}