* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 10px;
}

.item {
    background-color: #6d89de;
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}